$primary: #3185FC;
$blue: #26547C;
$red: #EF476F;
$accentRed: #E84855;
$yellow: #FFD166;
$accentYellow: #F9DC5C;
$green: #06D6A0;
$accentGreen: #00A878;
$lighgrey: #FCFCFC;

$w: #fff;
$k: #212121;
$bk: #333745;
$sk: #38393C;
$g: #515052;


body {
    background-color: $lighgrey;
}

#message {
    color: $primary;
    font-size: 3em;
    text-align: center;
}